body {
  align-content: center;
  /* background-color: black; */
}

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 15vh;
}

#gameCanvas {
  background-color: black;
  margin: auto;
  align-content: center;
  /* cursor: none; */
}

#gameContainer {
  justify-content: center;
  align-content: center;
  margin: auto;
}
